* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
  }
  
  section {
    height: calc(100vh - 40px);
    overflow-y: auto;
    padding:0px;
  }
  
  #titulo {
    background-color: #f2f2f2;
    color: salmon;
    padding: 20px;
    text-align: center;
    font-size: 40px;
  }
  
  .informacionAllan {
    color: green;
    font-size: 20px;
    text-align: center;
  }
  
  .informacionSara {
    color: red;
    font-size: 20px;
    text-align: center;
  }
  
  #divallan {
    background-color: yellow;
    border: 2px solid black;
    margin: 0px auto;
    float: left;
    width: 50%;
    height: 100%;
  }
  
  #divsara {
    background-color: pink;
    border: 2px solid black;
    margin: 0px auto;
    float: right;
    width: 50%;
    height: 100%;
  }
  
  footer {
    background-color: grey;
    color: white;

    padding: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
  }
  
  a:link {
    color: blue;
    text-decoration: none;
  }
  
  a:visited {
    color: blue;
    text-decoration: none;
  }
  .a1{
    color: blue;
    text-align:right;
    padding: 10px;
    float: right;
  }
  #propiedad{
    text-align: end;
    font-size: 20px;
    padding: 10px;
    float: left;
  }

  #h2{
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #c70101;
  }

  .musica{
    color:black;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .menu{
    background-color: black;
    color:white
  }
  #tituloprincipal {
    display: flex;
    align-items: center;
  }
  
  #tituloprincipal h1 {
    margin: 0;
    margin-right: auto;
  }
  
  .menu {
    display: flex;
    float:inline-end;
  }
  
  .menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-items li {
    margin-left: 10px;
  }
  
  .menu-items a {
    color: white;
    text-decoration: none;
  }

  #menuu {
    margin-left: auto;
  }

